body {
  height: 100%;
}

.task {
  padding-left: 0px;
  list-style-type: none;
}

.delete:hover {
  text-decoration: underline;
}

.task {
  padding-top: 20px;
}

.help-block {
  color: red;
  font-weight: bold;
}
