body {
  font-family: 'Varela Round', sans-serif;
}

.row {
  padding-right: 0;
}

h1 {
  font-family: 'Lobster Two', cursive;
}

hr {
  margin: 0px;
  border: 1px solid black;;
}

.content-wrapper {
  margin: 10px 0;
  border: 3px solid #99ccff;
  border-radius: 5px;
  height: 100%;
  background-color: #e6f2ff;
  padding-bottom: 25px;
}

#submit-task {
  background-color: #b3daff;
}

.delete:hover {
  text-decoration: none;
}

.task {
  padding-top: 20px;
}

.help-block {
  color: red;
  font-weight: bold;
}

.task-item {
  position: relative;
}

.trash {
  height: 15px;
  position: absolute;
  right: 0;
  top: 3px;
}

.nav-centering {
  margin: 0 auto;
}

.icon-wrapper {
  display: inline-block;
  padding: 10px;
}

.icon {
  height: 20px;
}
