<!DOCTYPE html>
<html lang="en" ng-app="manageMe">
<head>
  <meta charset="utf-8">
  <title>Manage Me</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/taskController.js"></script>
  <script src="js/directives/task.js"></script>
  <script src="js/factories/taskFetcher.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body ng-controller="taskController as taskCtrl">

  <h1>Manage Me!</h1>
  <h4>A simple task manager - written in AngularJS by Rufus Raghunath</h4>

  <section id="add-task">
    <form name="taskForm" ng-submit="submitForm(taskForm.$valid)" novalidate>
      <input type="text" ng-model="description" placeholder="Description" required>
      <input type="text" ng-model="date" placeholder="Date (YYYY-MM-DD)" required>
      <input type="submit" id="add-task" value="Add task" ng-disabled="taskForm.$invalid" ng-click="taskCtrl.addTask(
        {description: description,
        date: date});
        description = '';
        date = ''">
      <p ng-show="invalidDateFormatting" class="help-block">Invalid date formatting.</p>
      <p ng-show="pastDate" class="help-block">Oops, that date is in the past!</p>
    </form>
  </section>

  <section id="task-list">
    <div class="task" ng-repeat="task in tasks | orderBy: 'date'">
      <task taskId="task.id"></task>
    </div>
  </section>

</body>
</html>
